<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <title>Finanzen - {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="/img/icon.png" type="image/png">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel:700">
</head>
<body>

  <header>
    <div class="container">
      <div class="title">
        Finanzen
        <i class="fa fa-eur" aria-hidden="true"></i>
      </div>
    </div>
  </header>

  <div class="container">
    <h3>{{ block("title") }}</h3>
    <hr>
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container">
      <p>
        Created by Sebastian Wolf
      </p>
      <p>
        Source available at
        <i class="fab fa-github" aria-hidden="true"></i>
        <a href="https://github.com/meonwax/finances" target="_blank">GitHub</a>
      </p>
    </div>
  </footer>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
  // Prevent click on disabled anchors
  $('body').on('click', 'a.disabled, li.disabled a', function(event) {
    event.preventDefault();
  });
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
