<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <title>Finanzen - {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="/img/icon.png" type="image/png">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
</head>
<body>
  <div class="container">
    <h1>Finanzen</h1>
    <h3>{{ block("title") }}</h3>
    <hr>
    {% block content %}{% endblock %}
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
  // Prevent click on disabled anchors
  $('body').on('click', 'a.disabled, li.disabled a', function(event) {
    event.preventDefault();
  });
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
