<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Nicht gefunden</title>
  <link rel="shortcut icon" href="/img/icon.png" type="image/png">
  <style>
  html {
    cursor: url(img/amiga.cur), auto;
  }
  body {
    background: black;
  }
  div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  </style>
</head>
<body>
  <div class="container">
    <img src="/img/guru.gif" alt="">
  </div>
  <script>
  window.onclick = function() {
    location.href = '/';
  };
  </script>
</body>
</html>
